//https://coolors.co/c9c47e-213b17-a2abb0-7baf96-9ea778

/* SCSS RGB */
$dark-khaki: rgba(201, 196, 126, 1);
$forest-green-traditional: rgba(33, 59, 23, 1);
$silver-chalice: rgba(162, 171, 176, 1);
$green-sheen: rgba(123, 175, 150, 1);
$moss-green: rgba(158, 167, 120, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-right: linear-gradient(90deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-bottom: linear-gradient(180deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-left: linear-gradient(270deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-top-right: linear-gradient(45deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-bottom-right: linear-gradient(135deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-top-left: linear-gradient(225deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-bottom-left: linear-gradient(315deg, #c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
$gradient-radial: radial-gradient(#c9c47eff, #213b17ff, #a2abb0ff, #7baf96ff, #9ea778ff);
