@use "_colors" as colors;
@font-face {
  font-family: "mulish";
  src: url("../../assets/font/Mulish-VariableFont_wght.ttf");
}

@mixin img--center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banniere__tilte {
  font-family: "mulish";
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
  color: colors.$moss-green;
}

.banniere__subtitle {
  font-family: "mulish";
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
  color: colors.$moss-green;
}

.footer {
  padding: 3rem;
  background: colors.$dark-khaki;
}

hr {
  background: colors.$green-sheen;
  height: 1px;
  border-style: none;
  margin: 2% 0;
}

.navbar-start {
  width: 10%;
  justify-content: flex-start;
}